<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cyotek.Drawing.BitmapFont" version="2.0.0" targetFramework="net48" />
  <package id="DynamoVisualProgramming.Core" version="3.2.2.5494" targetFramework="net48" />
  <package id="DynamoVisualProgramming.DynamoServices" version="3.2.2.5494" targetFramework="net48" />
  <package id="DynamoVisualProgramming.LibG_229_0_0" version="3.0.0.5335" targetFramework="net48" developmentDependency="true" />
  <package id="DynamoVisualProgramming.WpfUILibrary" version="3.2.2.5494" targetFramework="net48" />
  <package id="DynamoVisualProgramming.ZeroTouchLibrary" version="3.2.2.5494" targetFramework="net48" />
  <package id="HelixToolkit" version="2.25.0" targetFramework="net48" />
  <package id="HelixToolkit.Wpf.SharpDX" version="2.25.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="6.0.0" targetFramework="net48" />
  <package id="SharpDX" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.D3DCompiler" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Direct2D1" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Direct3D11" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Direct3D9" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.DXGI" version="4.2.0" targetFramework="net48" />
  <package id="SharpDX.Mathematics" version="4.2.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="8.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reflection.Metadata" version="8.0.0" targetFramework="net48" />
  <package id="System.Reflection.MetadataLoadContext" version="8.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
</packages>